body{
  background-color: #E0FFFF
}
h1{
  text-align: center;
  font-size: 45px; color: #027fe9;
}
img{
  width: 150px;
  height: 150px;
}
img, p {
    display: inline-block;
    
}
li{
  text-align:justify;
  font-size: 30px; color: #fc1068
}
p{
  font-size: 25px;
  font-family: Comic Sans MS, cursive;
  margin-right: 5%;
}
