body{
background-color: 	#E0FFFF
}
nav li{
  display: inline;
  margin: 0 0 0 15px;
}
nav a{
  text-transform: uppercase;
color: #000000;
font-weight: bolder;
font-size: 22px;
text-decoration: none;
}
#logo{
  width: 120px !important;
  height: 120px !important;
}

#Booksite{
  background: #00BFFF; font-size: 0,10%; text-align: center; padding: 0,10%;
}
header{
  background: #04bbfc
}

h1{
  text-align: center; color: #C71585;
  font-family: OCR A Std, monospace;
  font-size: 60px; color:#C71585;
}

p{
font-size: 35px;
font-family: Comic Sans MS, cursive;
margin-right: 5%;
}
.frase{
  border: 5px double #029b99;
  object-fit: contain;
}

.livro{
  margin-left: 1,5%;

}


img{
width: 250px!important;
height: 300px!important;
}

img {
  display: flex;
}
h2{
border: 10px solid color: black;
font-family: Snell Roundhand, cursive;
font-size: 45px;
text-align: justify;color: #FF00FF;
background-color: #04bbfc
}

.margem{
  margin: 3%
}

h3{
  border: 10px solid color: black;
  font-family: Snell Roundhand, cursive;
  font-size: 45px;
  text-align: justify;color: #FF00FF;
  background-color: #04bbfc
}
.margem2{
  margin: 3%
}

h4{
  border: 10px solid color: black;
  font-family: Snell Roundhand, cursive;
  font-size: 45px;
  text-align: justify;color: #FF00FF;
  background-color: #04bbfc
}
.margem3{
  margin: 3%
}
